.Nav_Container {
    border-bottom: 1px solid grey;
    font-family: Montserrat;
    padding: 7px;
    width: 100%;
}
.brand_name {
    font-size: 25px;
    font-weight: bold;
}

.navbar-nav{
    flex-flow: wrap !important;
}

.search_icon {
    position: relative;
    left: 23px;
    top: 4px;
    font-size: 17px;
    color: black;
}

.phone_icon {
    padding: 0px 9px;
    font-size: 15px;
    margin-top: 2px;
}

.heart_icon {
    padding: 0px 9px;
    font-size: 20px;
}

.header_sign_in{
    border-radius: 20px !important;
    padding: 0px 9px;
    border: none !important;
    margin-left: 20px;
    font-weight: bold !important;
    font-family: Montserrat;
    font-size: 14px !important; 
    width: 100px;
    margin-top: 2px;
    height: 40px;
    background-color: #000 !important;
    color: white;
}

.phone_link{
    padding-top: 14px !important;
}

.menu-active{
    color: #000 !important;
    font-weight: 500;
}



.navbar{
    padding: 0px !important;
}


.second_nav_container{
    border-bottom: 1px solid grey !important;
}

.second_nav_row{
    margin: 0 auto !important;
}
/* .third_nav_container{
    justify-content: start;
    margin-left: 17%;
    gap: 10px;
} */



/* @media (max-width: 768px) {
    #form_input{
       width: 100% !important;
    }
} */
